/* main container on each page*/
.container {
    background-image: url('./Assets/white_marble.jpg');
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
    clear: both;
}


footer {
    text-align: center;
    padding: 10px;
    background: lightgrey;
    width: 100%;
    margin-top: 10px;
    
}

img {
    border: black ;
    margin: 5px;
}

/* navbar-brandme customisation*/
.navbar-brandme {
    color: white;
    background-color: teal;
}
    

h1{
    color: teal;
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    background : white;
}



/* index.html CSS*/

#profilepic{
    padding: 10px;
    width: 240px;
    height: 242px
}

#myinfo {
    background: white; 
}


/* contact.html CSS*/
#contactform {
    background: white; 
    padding-left: 10px;
    padding-bottom: 10px;
}

.form-group{
    margin-right: 15px;
}


/* Portfolio CSS */
#portfolio {
   background: white; 
}



    

